# No need to install `tensorflow` because we have already used docker image with installed tensorflow inside.

opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66 # avoid other pkgs who has dependency with openCV cause it build soooooo long

blurgenerator==1.0.4

matplotlib
tqdm
loguru
fire
